<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/add" method="POST">
    <input type="hidden" name="id" value="<%=row.id %>"  /><br/>
    <input type="text" name="name"    placeholder="name" value="<%=row.name %>"/><br/>
    <input type="text" name="num"  placeholder="num"  value="<%=row.num %>"/><br/>
    <input type="submit"/>
  </form>
</body>
</html>