<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/stylesheets/xzh.css" rel='stylesheet' type='text/css' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> 
<body>
    <div class="main">
		<div class="login-form">
			<h1>Member Login</h1>
					<div class="head">
						<img src="images/user.png" alt=""/>
					</div>
    <form action="/login" method="POST">
        <input type="text" name="name" placeholder="请输入账号"/>
        <br>
        <input type="password" name="pass" placeholder="请输入密码"/>
        <br>
        <input type="submit"/>
        <a href="http://localhost:3000/xzh" target="_blank">立即注册</a>
    </form>
</form>
</body>
</html>